@model dynamic

@{
    ViewBag.Title = "Captains";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Captains</h2>

<p>Started during our NS1 days, Captains games are a <a href="https://www.tacticalgamer.com/forum/action/natural-selection/natural-selection-general-discussion/6577-captains-back-to-elementary-school-we-go" target="_blank">time-honored</a> tradition on TGNS. They happen throughout the week when players vote them in, typically when the server is dominated by regulars, and many will tell you that some of the best games they've ever had here were Captains Games.</p>

<h2>Captains Night</h2>
<p>Every Friday night, TGNS hosts curated, password-protected play of carefully crafted teams opposing each other during two rounds per map.</p>

<div style="border-left: 2px solid gray; margin-left: 5px; padding-left: 8px;">
    <h3>You're Invited</h3>
    <p>Anyone familiar with <a href="https://www.tacticalgamer.com/forum/action/natural-selection/natural-selection-official-rules-and-announcements" target="_blank">our rules</a> is welcome to join us. Before each event, the start time (<em>usually</em> 8PM Central) and public password is posted as an evening-specific thread in our <a href="https://www.tacticalgamer.com/index.php?routestring=forum/action/natural-selection/natural-selection-general-discussion">TGNS Forums</a>. Here is a rundown of the event:</p>

    <h3>Preparing</h3>
    <p>Before each map's play, an admin sends AFK players to Spectator. This makes it easy for Captains to see who is available for team picking.</p>

    <h3>Be a Captain - Choose your Opponent</h3>
    <p>One volunteering Captain selects an opponent Captain, who then agrees to Captain OR is forced to spectate for the current Captain's game. If the opponent chooses to spectate, another opponent is chosen.</p>

    <h3>Choose and Play</h3>
    <p>Players may opt into playing Captain's Night once both Captains have been selected. One Captain is given Player Choice, and the other Captain is given first Team Choice and Spawn Choice. The Captain with Player Choice then names a player and repeats his team name (e.g. "Brian, Aliens", "Wyzcrak, Marines", etc). This continues between Captains until both teams are formed. When the first round is complete, players all switch teams. The second round is played with swapped spawn locations -- when it's over, the Captains game ends.</p>

    <h3>Fellowship</h3>
    <p>Throughout all of Captains Night, use the player name by which TGNS regulars best know you. Captains Night is a special time to welcome known regulars and new friends.</p>

    <h3>Playing BOTH Rounds</h3>
    <p>Don't play unless you can reliably stay for the entire map (mid-map emergency? tell your team and bail. dinner and/or friends showing up does not an emergency make).</p>
    <p>This expectation is important to participants, and admins protect it.</p>

    <h3>Taking a Break</h3>
    <p>Each map begins with a short, announced break for food, bathroom, and fellowship. Except for these breaks, don't AFK during the event. After each break, the Captains are identified for the current map.</p>

    <h3>Becoming a Captain</h3>
    <p>TGNS regulars known to participants are invited to Captain and personalize team selections on Captains Night. The first player to volunteer as Captain selects his opponent Captain. This opponent selection should prioritize gameplay quality, but the team-picking selections should absolutely prioritize competitive strength.</p>

    <h3>Opting In</h3>
    <p>Player opt-ins open up once both Captains are ready (Supporting Members and any players who spectated or Captained last map may opt in earlier). If you miss the opt-in window for a given map, speak up and we'll get you playing on the next map for sure (if not immediately).</p>

    <h3>Selecting Teams</h3>
    <p>As team selections begin, listen for instruction. Only Captains speak during team selection -- text chat is always available to everyone (and, of course, voicecomm opens up to all players once teams are formed).</p>
    <p>The TGNS Captains Board aids Captains during team selection. It graphically conveys to both Captains various skill and experience data about every pickable player.</p>

    <h3>Gameplay</h3>
    <p>Captains Night is everyone's curated opportunity to apply our most satisfying teamwork, communicative tactics, and great fellowship. Try your hardest, but have fun together!</p>

    <h3>Replay</h3>
    <p>Visit <a href="http://rr.tacticalgamer.com/Replay" target="_blank">TGNS Replay</a> to watch games from the past!
    </p>
</div>