<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <appSettings>
    <add key="handlerPassword" value="PASSWORD_HERE"/>
    <add key="PushbulletEncodedAuthKey" value="AUTH_KEY_HERE"/>
    <add key="TgUsername" value="USERNAME_HERE" />
    <add key="TgPassword" value="PASSWORD_HERE" />
    <add key="SshHost" value="HOSTNAME_HERE" />
    <add key="SshPort" value="44" />
    <add key="WebAdminUsername" value="tgns" />
    <add key="WebAdminPassword" value="PASSWORD_HERE" />
  </appSettings>
  <connectionStrings>
    <add name="Data" connectionString="server=localhost;userid=USERNAME_HERE;password=PASSWORD_HERE;database=tgns" providerName="MySql.Data.MySqlClient"/>
  </connectionStrings>
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <customErrors mode="Off"/>
    <httpRuntime targetFramework="4.5" requestValidationMode="2.0" maxQueryStringLength="2097151" />
    <httpHandlers>
      <add verb="GET" path="gen/v1/data" type="TGNS.Endpoints.DataHandler_1_1, TGNS.Endpoints" />
      <add verb="GET" path="audit/v1" type="TGNS.Endpoints.AuditHandler_1_0, TGNS.Endpoints" />
      <add verb="GET" path="badges/v1/playerBadges" type="TGNS.Endpoints.Badges.PlayerBadgesHandler_1_0, TGNS.Endpoints" />
      <add verb="GET" path="badges/v1/playerProperties" type="TGNS.Endpoints.Badges.PlayerPropertiesHandler_1_0, TGNS.Endpoints" />
      <add verb="GET" path="badges/v1/scoreboardBadges" type="TGNS.Endpoints.Badges.ScoreboardPlayerBadgesHandler_1_0, TGNS.Endpoints" />
      <add verb="GET" path="badges/v1/mostRecentBadge" type="TGNS.Endpoints.Badges.MostRecentBadgeHandler_1_0, TGNS.Endpoints" />
      <add verb="GET" path="approve/v1" type="TGNS.Endpoints.ApproveHandler_1_0, TGNS.Endpoints" />
      <add verb="GET" path="vouches/v1" type="TGNS.Endpoints.VoicecommVoucherHandler_1_0, TGNS.Endpoints" />
      <add verb="GET" path="pushes/pushbullet/v1" type="TGNS.Endpoints.PushbulletPushHandler_1_0, TGNS.Endpoints" />
      <add verb="GET, POST" path="pluginConfigs/v1" type="TGNS.Endpoints.PluginConfigsHandler_1_0, TGNS.Endpoints" />
      <add verb="GET, POST" path="bans/v1" type="TGNS.Endpoints.BanHandler_1_0, TGNS.Endpoints" />
      <add verb="GET, POST" path="karma/v1" type="TGNS.Endpoints.KarmaHandler_1_0, TGNS.Endpoints" />
      <add verb="GET, POST" path="bets/v1" type="TGNS.Endpoints.BetHandler_1_0, TGNS.Endpoints" />
      <add verb="GET" path="recentcaptainplayerids/v1" type="TGNS.Endpoints.RecentCaptainsHandler_1_0, TGNS.Endpoints" />
      <add verb="GET" path="laps/v1" type="TGNS.Endpoints.LapsHandler_1_0, TGNS.Endpoints" />
      <add verb="GET" path="bka/v1" type="TGNS.Endpoints.BetterKnownAsHandler_1_0, TGNS.Endpoints" />
      <add verb="GET" path="roles/v1" type="TGNS.Endpoints.RolesHandler_1_0, TGNS.Endpoints" />
      <add verb="GET" path="blacklist/v1" type="TGNS.Endpoints.BlacklistHandler_1_0, TGNS.Endpoints" />
      <add verb="GET" path="specmode/v1" type="TGNS.Endpoints.SpecModeHandler_1_0, TGNS.Endpoints" />
      <add verb="GET" path="wraplength/v1" type="TGNS.Endpoints.WraplengthHandler_1_0, TGNS.Endpoints" />
      <add verb="GET" path="preferred/v1" type="TGNS.Endpoints.PreferredHandler_1_0, TGNS.Endpoints" />
      <add verb="GET" path="taglines/v1" type="TGNS.Endpoints.TaglinesHandler_1_0, TGNS.Endpoints" />
      <add verb="GET" path="guardians/v1" type="TGNS.Endpoints.GuardiansHandler_1_0, TGNS.Endpoints" />
      <add verb="GET" path="autoexec/v1" type="TGNS.Endpoints.AutoExecHandler_1_0, TGNS.Endpoints" />
      <add verb="GET" path="gamefeedback/v1" type="TGNS.Endpoints.GameFeedbackHandler_1_0, TGNS.Endpoints" />
      <add verb="GET" path="botnames/v1" type="TGNS.Endpoints.BotNamesHandler_1_0, TGNS.Endpoints" />
      <add verb="GET" path="sprays/v1" type="TGNS.Endpoints.SpraysHandler_1_0, TGNS.Endpoints" />
      <add verb="GET" path="servercommand/v1" type="TGNS.Endpoints.ServerCommandHandler_1_0, TGNS.Endpoints" />
      <add verb="GET" path="teamwinrates/v1" type="TGNS.Endpoints.TeamWinRatesHandler_1_0, TGNS.Endpoints" />
      <add verb="GET" path="automaxfps/v1" type="TGNS.Endpoints.AutoMaxFpsHandler_1_0, TGNS.Endpoints" />
    </httpHandlers>
  </system.web>
  <system.webServer>
    <security>
      <requestFiltering>
        <requestLimits maxQueryString="2097151" />
      </requestFiltering>
    </security>
  </system.webServer>
</configuration>