@{
    ViewBag.Title = "Home";
}

<div class="jumbotron">
    <div style="float: right; margin-left: 10px; margin-bottom: 10px;"> @*http://jj09.net/ip-heatmap-generator/*@
        <div>
            <a href="/assets/img/tgns_heatmap_unitedstates.png" border="0"><img src="/assets/img/tgns_heatmap_unitedstates.png" width="266" height="150"/></a>
        </div>
        <div>
            <a href="/assets/img/tgns_heatmap_international.png" border="0"><img src="/assets/img/tgns_heatmap_international.png" width="266" height="150"/></a>
        </div>
    </div>
    <p class="lead">Tactical Gamer Natural Selection (TGNS) is a community known for its teamwork, communication, and overall coordinated play. Our 8v8 public server in North America welcomes all skill levels and effectively enforces a respectful environment many players have come to love.</p>
    <p class="lead">This site serves as a functional supplement to our game server, allowing players to customize and control various aspects of their experiences there.</p>
    <p>Use the navigation above or below to explore and learn more.</p>
    <p>
        <a href="/Community" class="btn btn-primary btn-large">Community</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="https://www.tacticalgamer.com/forum/action/natural-selection/natural-selection-general-discussion" class="btn btn-primary btn-large">Forums</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="https://www.tacticalgamer.com/forum/action/natural-selection/natural-selection-general-discussion" class="btn btn-primary btn-large">Required Reading</a>
    </p>
</div>

@*
    <div class="row">
            <div class="col-md-4">
                <h2>Adaptting started</h2>
                <p>
                    ASP.NET MVC gives you a powerful, patterns-based way to build dynamic websites that
                    enables a clean separation of concerns and gives you full control over markup
                    for enjoyable, agile development.
                </p>
                <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
            </div>
            <div class="col-md-4">
                <h2>Adapt more libraries</h2>
                <p>NuAdapt is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
                <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
            </div>
            <div class="col-md-4">
                <h2>Web Hosting</h2>
                <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
                <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
            </div>
        </div>
*@