@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Error";
}

<h1 class="text-danger">Error.</h1>
<h2 class="text-danger">An error occurred while processing your request (@Model.Exception.Message).</h2>
<p style="margin-top: 40px;">Note: Steam is sometimes unreliable. If you've received an error trying to login via Steam, try again later.</p>
